<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
	    <title th:text="${title}">Nest Dashboard</title>
	    <meta http-equiv="x-ua-compatible" content="ie=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <!-- Favicon -->
	    <link rel="shortcut icon" type="image/x-icon" th:href="@{/manage/assets/imgs/theme/favicon.svg}" />
	    <!-- Template CSS -->
	    <link href="/manage/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="container">
            <div class="row">
                <section class="content-main">
                    <div class="row mt-60">
                        <div class="col-sm-12">
                            <div class="w-50 mx-auto text-center">
                                <img src="/manage/assets/imgs/theme/404.png" width="350" alt="Page Not Found" />
                                <h3 class="mt-40 mb-15">페이지를 찾을 수 없음</h3>
                                <p>다시 한번 확인해 주세요!</p>
                                <p>지금 입력하신 주소의 페이지는 사라졌거나 다른 페이지로 변경되었습니다.</p>
                                <p>주소를 다시 확인해 주세요.</p>
                                <a href="/admin" class="btn btn-primary mt-4"><i class="material-icons md-keyboard_return"></i> 홈으로 이동</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="screen-overlay"></div>
                
        <script th:src="@{/manage/assets/js/vendors/jquery-3.6.0.min.js}"></script>
	    <script th:src="@{/manage/assets/js/vendors/bootstrap.bundle.min.js}"></script>
	    <script th:src="@{/manage/assets/js/vendors/select2.min.js}"></script>
	    <script th:src="@{/manage/assets/js/vendors/perfect-scrollbar.js}"></script>
	    <script th:src="@{/manage/assets/js/vendors/jquery.fullscreen.min.js}"></script>
	    <!-- Main Script -->
	    <script th:src="@{/manage/assets/js/main.js?v=1.1}" type="text/javascript"></script>
	    
    </body>
</html>